<%- include('layout/header', { title: 'Quản lí người dùng', user: admin }) %>
<% if (message) { %>
    <div id="alert" class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
        <strong><%= message.message %></strong>
    </div>
<% } %>

<script>
    $(document).ready(function(){
        // Đợi 3 giây sau đó tự động tắt thông báo
        setTimeout(function(){
            $("#alert").alert('close');
        }, 3000);
    });
    
</script>
<div class="container">
    <div class="header-admin">
        <h1>Quản lí người dùng</h1>
    </div>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Role</th>
            <th>Config</th>
        </tr>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.password %></td>
                <td><%= user.email %></td>
                <td>
                    <% if (user.role) { %>
                        Admin
                    <% } else { %>
                        User
                    <% } %>
                </td>
                <td>
                    <a href="/update_user/<%= user.id %>"class="update-btn">Update</a> |
                    <a href="/delete_user/<%= user.id %>" class="delete-btn">Delete</a>
                </td>
            </tr>
        <% }); %>
    </table>
    <span class="btus add_user"><a href="/add_users">Add user</a></span>
</div>


<%- include('layout/footer') %>
