<%- include('layout/header', { title: 'User List', user: {} }) %>
<div class="container1">
    <div class="header">
        <h1>User List</h1>
    </div>
    <div class="user-list">
        <% users.forEach(user => { %>
            <div class="user-item">
                <div class="user-avatar"></div>
                <div class="user-details">
                    <div class="username"><%= user.username %></div>
                    <div class="user-info">
                        <strong>Password:</strong> <%= user.password %><br>
                        <strong>Email:</strong> <%= user.email %> <br>
                        <strong>Role:</strong> <%= user.role %> <br>                       
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <div class="add-user-button">
        <a href="/add_users" class="btn">Add User</a>
    </div>
</div>

<%- include('layout/footer') %>