<%- include('layout/header') %>
<%- include('add_event') %>
<%- include('task_table') %>
<%- include('update_event') %>

<div class="container mt-5">
    <div id="calendar"></div>
</div>

<script>

    let calendar;
    var updatedEventId;

    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            selectable: true,
            selectHelper: true,
            select: function(start,end) {
                $.ajax({
                    type: 'GET',
                    url: '/events/date?start=' + start.startStr + '&end=' + start.endStr, // Đường dẫn tới endpoint trên máy chủ để lấy danh sách nhiệm vụ cho ngày được click
                    success: function(events) {
                        console.log(events);
                        // Xóa các dòng sự kiện cũ trong bảng trước khi thêm mới
                        $('#task_table_modal tbody').empty();
                        // Thêm sự kiện vào bảng
                        events.forEach(function(event) {
                            var row = '<tr>' +
                                '<td>' + event.title + '</td>' +
                                '<td>' + moment(event.start).format('hh:mm:A - DD/MM/YYYY') +' -> '+ moment(event.end).format('hh:mm:A - DD/MM/YYYY') + '</td>' +
                                '<td>' + event.details + '</td>' +
                                '<td>' + (event.status ? '<i class="fa-sharp fa-regular fa-calendar-check text-success"></i>' : '<i class="fa-regular fa-calendar-xmark text-danger"></i>') + '</td>' +
                                '<td><a href="#" class="text-primary"><i class="fas fa-plus fa-lg mx-1"></i></a></td>' +
                                '</tr>';
                            $('#task_table_modal tbody').append(row);
                        });
                        $('#task_table_modal').modal('show'); // Hiển thị modal
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching tasks:", error);
                        alert("An error occurred while fetching tasks!");
                    }
                });
			},
            initialView: 'dayGridMonth',
            height: 650,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listWeek'
            },
            eventColor: 'purple',
            events: '/events', 
            eventClick: function(info) {
                // Lấy thông tin về sự kiện
                var eventId = info.event.extendedProps._id;
                updatedEventId = eventId;
                var eventName = info.event.title;
                var eventStart = info.event.start;
                var eventEnd = info.event.end;
                var eventDetails = info.event.extendedProps.details;
                // Chia tách ngày và giờ bắt đầu
                var eventStartDate = eventStart.toISOString().slice(0,10);
                var eventStartTime = eventStart.toTimeString().slice(0,5);
                // Chia tách ngày và giờ kết thúc
                var eventEndDate = eventEnd ? eventEnd.toISOString().slice(0,10) : '';
                var eventEndTime = eventEnd ? eventEnd.toTimeString().slice(0,5) : '';

                // Cập nhật nội dung của modal với dữ liệu từ sự kiện
                $('#update_event_name').val(eventName);
                $('#update_event_start_date').val(eventStartDate);
                $('#update_event_start_time').val(eventStartTime);
                $('#update_event_end_date').val(eventEndDate);
                $('#update_event_end_time').val(eventEndTime);
                $('#update_event_details').val(eventDetails);

                // Tạo URL mới với eventId
                var editEventURL = '/edit/' + eventId;
                // Thay đổi URL trên thanh địa chỉ của trình duyệt
                history.pushState({}, '', editEventURL);
                $('#update_event_modal').on('hidden.bs.modal', function (e) {
                    // Khôi phục URL về trạng thái ban đầu
                    var defaultURL = '/'; // URL mặc định của trang
                    history.pushState({}, '', defaultURL);
                });
                // Hiển thị modal khi một sự kiện được click
                $('#update_event_modal').modal('show');
            },
            dateClick: function(info) {
				$('#event_entry_modal').modal('show');
            },
            
            tasks: []
        });
        calendar.render();
    });

    function save_event() {
        var eventName = $('#event_name').val();
        var eventStart = $('#event_start_date').val();
        var eventEnd = $('#event_end_date').val();
        var eventDetails = $('#event_details').val();

        if (!eventName || !eventStart || !eventEnd ) {
            alert("Vui lòng điền đầy đủ thông tin cho sự kiện!");
            return;
        }


        var eventData = {
            title: eventName,
            start: eventStart,
            end: eventEnd,
            details: eventDetails,
            status: false,
            more: []
        };

        $.ajax({
            type: 'POST',
            url: '/addEvent',
            data: eventData,
            success: function(response) {
                alert(response); // Hiển thị thông báo thành công từ máy chủ
                calendar.refetchEvents();
                // Xóa dữ liệu từ form
                $('#event_name').val('');
                $('#event_start_date').val('');
                $('#event_start_time').val('');
                $('#event_end_date').val('');
                $('#event_end_time').val('');
                $('#event_details').val('');
                // Đóng modal
                $('#event_entry_modal').modal('hide');
            },
            error: function(xhr, status, error) {
                console.error("Lỗi khi tạo sự kiện:", error);
                alert("Đã xảy ra lỗi khi tạo sự kiện!");
            }
        });
    }


    function update_event() {
        var updatedEventName = $('#update_event_name').val();
        var updatedEventStartDate = $('#update_event_start_date').val();
        var updatedEventStartTime = $('#update_event_start_time').val();
        var updatedEventEndDate = $('#update_event_end_date').val();
        var updatedEventEndTime = $('#update_event_end_time').val();
        var updatedEventDetails = $('#update_event_details').val();
        var updatedEventStatus = $('#update_event_status').val(); 

        // Kiểm tra xem tất cả các trường đã được điền đầy đủ không
        if (!updatedEventName || !updatedEventStartDate || !updatedEventStartTime || !updatedEventEndDate || !updatedEventEndTime) {
            alert("Please fill in all fields for the updated event!");
            return;
        }

        // Tạo đối tượng dữ liệu sự kiện cập nhật
        var updatedEventData = {
            title: updatedEventName,
            start: updatedEventStartDate + 'T' + updatedEventStartTime,
            end: updatedEventEndDate + 'T' + updatedEventEndTime,
            details: updatedEventDetails,
            status: updatedEventStatus, // Sử dụng giá trị trạng thái từ dropdown
            more: []
        };
        // Gửi yêu cầu cập nhật sự kiện đến máy chủ
        $.ajax({
            type: 'POST',
            url: '/update/' + updatedEventId, // Thay đổi đường dẫn này nếu cần
            data: updatedEventData,
            success: function(response) {
                alert(response); // Hiển thị thông báo thành công từ máy chủ
                calendar.refetchEvents();
                $('#update_event_modal').modal('hide');
            },
            error: function(xhr, status, error) {
                console.error("Error updating event:", error);
                alert("An error occurred while updating the event!");
            }
        });
    }


    function delete_event() {
        if (confirm("Are you sure you want to delete this event?")) {
            $.ajax({
                type: 'POST',
                url: '/delete/' + updatedEventId, // Đường dẫn để xóa sự kiện, hãy đảm bảo nó phù hợp với route của bạn
                success: function(response) {
                    // alert(response); // Hiển thị thông báo thành công từ máy chủ
                    calendar.refetchEvents(); // Làm mới lịch để cập nhật sự kiện bị xóa
                    $('#update_event_modal').modal('hide'); // Đóng modal sau khi xóa
                },
                error: function(xhr, status, error) {
                    console.error("Error deleting event:", error);
                    alert("An error occurred while deleting the event!");
                }
            });
        }
    }   
 
</script>

<%- include('layout/footer') %>
