<%- include('layout/header') %>
<%- include('add_event') %>
<%- include('task_table') %>
<%- include('update_event') %>

<div class="container mt-5">
    <% if (message) { %>
        <div id="alert" class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
            <strong><%= message.message %></strong>
        </div>
    <% } %>
    
    <script>
        $(document).ready(function(){
            // Đợi 3 giây sau đó tự động tắt thông báo
            setTimeout(function(){
                $("#alert").alert('close');
            }, 3000);
        });
    </script>
    
    
    <div id="calendar"></div>
</div>

<script>

    let calendar;
    var updatedEventId;

    document.addEventListener('DOMContentLoaded', function() {

        var calendarEl = document.getElementById('calendar');

        calendar = new FullCalendar.Calendar(calendarEl, {
            selectable: true,
            selectHelper: true,
            select: function(info) {
                // Convert to UTC ISO string
                var startUTC = info.start.toISOString();
                var endUTC = info.end.toISOString();

                // console.log(startUTC, endUTC);
                $.ajax({
                    type: 'GET',
                    url: '/events/date?start=' + startUTC + '&end=' + endUTC, // Đường dẫn tới endpoint trên máy chủ để lấy danh sách nhiệm vụ cho ngày được click
                    success: function(events) {
                        // console.log(events);
                        // Xóa các dòng sự kiện cũ trong bảng trước khi thêm mới
                        $('#task_table_modal tbody').empty();
                        // Thêm sự kiện vào bảng
                        events.forEach(function(event) {
                            var row = '<tr>' +
                                '<td>' + event.title + '</td>' +
                                '<td>' + moment(event.start).format('DD/MM/YYYY') +' -> '+ moment(event.end).format('DD/MM/YYYY') + '</td>' +
                                '<td>' + event.details + '</td>' +
                                '<td>' + (event.status ? '<i class="fa-sharp fa-regular fa-calendar-check text-success"></i>' : '<i class="fa-regular fa-calendar-xmark text-danger"></i>') + '</td>' +
                                '<td><a href="#" class="text-primary"><i class="fas fa-plus fa-lg mx-1"></i></a></td>' +
                                '</tr>';
                            $('#task_table_modal tbody').append(row);
                        });
                        $('#task_table_modal').modal('show'); // Hiển thị modal
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching tasks:", error);
                        alert("An error occurred while fetching tasks!");
                    }
                });
			},
            initialView: 'dayGridMonth',
            height: 650,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listWeek'
            },
            eventColor: 'purple',
            events: '/events', 
            eventClick: function(info) {
                // Lấy thông tin về sự kiện
                var eventId = info.event.extendedProps._id;
                updatedEventId = eventId;
                var eventName = info.event.title;
                var eventStart = info.event.start;
                var eventEnd = info.event.end;
                var eventDetails = info.event.extendedProps.details;
                // // Chia tách ngày và giờ bắt đầu
                var eventStartDate = eventStart.toISOString().slice(0,10);
                // var eventStartTime = eventStart.toTimeString().slice(0,5);
                // // Chia tách ngày và giờ kết thúc
                var eventEndDate = eventEnd ? eventEnd.toISOString().slice(0,10) : '';
                // var eventEndTime = eventEnd ? eventEnd.toTimeString().slice(0,5) : '';

                // Cập nhật nội dung của modal với dữ liệu từ sự kiện
                $('#update_event_name').val(eventName);
                $('#update_event_start_date').val(eventStartDate);
                // $('#update_event_start_time').val(eventStartTime);
                $('#update_event_end_date').val(eventEndDate);
                // $('#update_event_end_time').val(eventEndTime);
                $('#update_event_details').val(eventDetails);

                // Tạo URL mới với eventId
                var editEventURL = '/edit/' + eventId;
                // Thay đổi URL trên thanh địa chỉ của trình duyệt
                history.pushState({}, '', editEventURL);
                $('#update_event_modal').on('hidden.bs.modal', function (e) {
                    // Khôi phục URL về trạng thái ban đầu
                    var defaultURL = '/'; // URL mặc định của trang
                    history.pushState({}, '', defaultURL);
                });
                // Hiển thị modal khi một sự kiện được click
                $('#update_event_modal').modal('show');
            },
            // dateClick: function(info) {
			// 	$('#event_entry_modal').modal('show');
            // },
            
            tasks: []
        });
        calendar.render();
    });
 
</script>

<%- include('layout/footer') %>
