<%- include('layout/header', { title: 'User Manager', user: {} }) %>
<div class="container1">
    <div class="header">
        <h1>Danh sách User</h1>
    </div>
    <div class="user-list">
        <% users.forEach(user => { %>
            <div class="user-item">
                <div class="user-avatar"></div>
                <div class="user-details">
                    <div class="username"><%= user.username %></div>
                    <div class="user-info">
                        <strong>Password:</strong> <%= user.password %><br>
                        <strong>Email:</strong> <%= user.email %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
 
<%- include('layout/footer') %>
